<button id="theme-toggle"
  class="w-6 h-3 py-1.5 ml-1 rounded-full bg-sii-light-accent dark:bg-sii-dark-hero-background flex items-center transition duration-300 focus:outline-none shadow cursor-pointer">
	<div id="theme-toggle-switch" class="flex justify-center items-center w-3 h-3 relative rounded-full transition duration-500 transform -translate-x-1 p-1 text-sii-light-background dark:bg-sii-primary">
    <div id="theme-toggle-light-icon" class="w-2 h-2 hidden">
      {% svgsprite %}
      {% svg "light-icon", "w-2 h-2" %}
    </div>
    <div id="theme-toggle-dark-icon" class="w-2 h-2 hidden text-sii-dark-integration-panel-text dark:text-sii-light-background">
      {% svgsprite %}
      {% svg "dark-icon", "w-2 h-2" %}
    </div>
  </div>
</button>
