@import "tailwindcss";

@theme {
  --color-sii-light-background: #fbfbfb;
  --color-sii-light-header: #191919;
  --color-sii-light-text: #686868;
  --color-sii-dark-background: #0A0c18;
  --color-sii-dark-header: #FFFFFF;
  --color-sii-dark-text: #9C9C9C;
  --color-sii-border: #e1e1e1;
  --color-sii-primary: #644FC1;
  --color-sii-light-accent: #EDE9FE;
  --color-sii-dark-accent: #977FC3;
  --color-sii-light-hero-background: #fbfbfb;
  --color-sii-dark-hero-background: #3D2B8E;
  --color-sii-light-widget-background: #EDE9FE;
  --color-sii-dark-widget-background: #4C3A9A;
  --color-sii-dark-integration-panel-background: #4C3A9A;
  --color-sii-light-integration-panel-text: #1F124A;
  --color-sii-dark-integration-panel-text: #B0A1F4;
  --breakpoint-md: 900px;
  --breakpoint-sm: 640px;
  --breakpoint-xs: 320px;
  --spacing: 8px;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
