<!doctype html>
  <html lang="en" data-theme="light">
    <head>
      <meta charset="utf-8">
      <title>Secure Identity Integrations</title>
      <!-- favicon -->
      <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96" />
      <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
      <link rel="shortcut icon" href="/img/favicon.ico" />
      <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
      <link rel="manifest" href="/img/site.webmanifest" />

      <!-- Primary Meta Tags -->
      <meta name="title" content="Secure Identity Integrations" />
      <meta name="description" content="Make your app a Secure Identity Integration by implementing five core features with modern, secure open standards. Grow trust in your app and encourage enterprise customer adoption of your app by staying ahead of identity-based threats." />
      <meta name="keywords" content="oidc, openid, openid connect, sso, single sign on, provisioning, scim, system for cross-domain identity management, provisioning, entitlements, enterprise ready, identity, ssf, shared signals framework, saas">

      <!-- Open Graph / Facebook -->
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://secureintegrations.dev" />
      <meta property="og:title" content="Secure Identity Integrations" />
      <meta property="og:description" content="Make your app a Secure Identity Integration by implementing five core features with modern, secure open standards. Grow trust in your app and encourage enterprise customer adoption of your app by staying ahead of identity-based threats." />
      <!-- <meta property="og:image" content="https://metatags.io/images/meta-tags.png" /> -->

      <!-- Twitter -->
      <meta property="twitter:card" content="summary_large_image" />
      <meta property="twitter:url" content="https://secureintegrations.dev" />
      <meta property="twitter:title" content="Secure Identity Integrations" />
      <meta property="twitter:description" content="Make your app a Secure Identity Integration by implementing five core features with modern, secure open standards. Grow trust in your app and encourage enterprise customer adoption of your app by staying ahead of identity-based threats." />
      <!-- <meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" /> -->

      <base href="/">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/css/index.css">
      <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
      <link rel="stylesheet" href="/css/tailwind.css">
      <script>
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.documentElement.dataset.theme = 'dark';
        } else {
            document.documentElement.dataset.theme = 'light';
        }
      </script>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NTKK42MJ');</script>
      <!-- End Google Tag Manager -->
    </head>
    <body class="bg-white dark:bg-sii-darkest-blue dark:text-sii-cool-light-gray flex flex-col min-h-screen">
      {% include "partials/_header.njk" %}
      <main class="m-6 grow">
        <section class="my-12 sm:w-4/5 md:w-3/5 lg:w-1/2">
          <h1 class="text-6xl text-sii-cool-dark-blue dark:text-sii-cyan">Secure Identity Integrations</h1>
          <p class="mt-3 lg:w-4/5">Make your app a Secure Identity Integration by implementing five core features with modern, secure, open standards. Stay ahead of identity-based threats to grow trust in your app and encourage enterprise customer adoption.</p>
        </section>
        {% include "partials/_integrations.njk" %}
      </main>
      {% include "partials/_footer.njk" %}

      <script>
        const themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
        const themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');
        const initialTheme = document.documentElement.dataset.theme;

        if (initialTheme === 'dark') {
            themeToggleLightIcon.classList.remove('hidden');
        } else {
            themeToggleDarkIcon.classList.remove('hidden');
        }

        const themeToggleBtn = document.getElementById('theme-toggle');
        themeToggleBtn.addEventListener('click', function() {
          const theme = document.documentElement.dataset.theme;

          themeToggleDarkIcon.classList.toggle('hidden');
          themeToggleLightIcon.classList.toggle('hidden');

          if (theme === 'light') {
            document.documentElement.dataset.theme = 'dark';
          } else {
            document.documentElement.dataset.theme = 'light';
          }
        });
      </script>
    </body>
</html>

