<footer class="bg-sii-cool-dark-blue py-3 text-sii-cool-light-gray flex justify-center items-center">
  <span class="mr-2 text-sm">Powered by</span>
  <img class="h-[20px]" src="img/logotype.svg" alt="Okta developers logo"/>
</footer>
