<section class="my-4 grid grid-cols-1 md:grid-cols-2 gap-9">
  <div class="md:max-w-60 grid gap-3 grid-rows-[min-content_min-content_min-content]">
    <div class="hidden md:flex">
      {% include "elements/themeSwitch-md.njk"%}
    </div>
    <h1 class="text-6xl/7 text-sii-light-header dark:text-sii-dark-header mt-1">Secure Identity Integrations</h1>
    <p>Make your app a Secure Identity Integration by implementing five core features with modern, secure, open standards. Stay ahead of identity-based threats to grow trust in your app and encourage enterprise customer adoption.</p>
  </div>
  <div class="row-start-1 md:col-start-2 flex flex-col gap-2">
    <div class="flex md:hidden">
      {% include "elements/themeSwitch-sm.njk"%}
    </div>
    {% include "partials/_hero.njk"%}
  </div>
</section>
