<div class="flex justify-center md:justify-start">
  <div class="flex flex-col gap-0.75 bg-sii-light-hero-background dark:bg-sii-dark-hero-background p-0.75 rounded-lg grow-1 flex-wrap">
    <div class="grid grid-cols-2 gap-0.75">
      <div class="bg-sii-light-widget-background dark:bg-sii-dark-widget-background rounded-lg p-1 flex flex-col gap-1.5 md:max-w-35 grow-1">
        <div>
          {% svgsprite %}
          {% svg "entitlements", "w-5.5 h-5.5 p-1 bg-sii-primary fill-sii-light-background rounded-lg" %}
        </div>
        <p class="max-w-15 text-sii-light-integration-panel-text dark:text-sii-dark-integration-panel-text">Entitlements Management</p>
      </div>
      <div class="bg-sii-light-widget-background dark:bg-sii-dark-widget-background rounded-lg p-1 flex flex-col gap-1.5 md:max-w-35 grow-1">
        <div>
          {% svgsprite %}
          {% svg "shared-signals", "w-5.5 h-5.5 p-1 bg-sii-primary fill-sii-light-background rounded-lg" %}
        </div>
        <p class="max-w-15 text-sii-light-integration-panel-text dark:text-sii-dark-integration-panel-text">Risk Signal Sharing</p>
      </div>
      <div class="bg-sii-light-widget-background dark:bg-sii-dark-widget-background rounded-lg p-1 flex flex-col gap-1.5 md:max-w-35 grow-1">
        <div>
          {% svgsprite %}
          {% svg "lcm", "w-5.5 h-5.5 p-1 bg-sii-primary fill-sii-light-background rounded-lg" %}
        </div>
        <p class="max-w-15 text-sii-light-integration-panel-text dark:text-sii-dark-integration-panel-text">Lifecycle Management</p>
      </div>
      <div class="bg-sii-light-widget-background dark:bg-sii-dark-widget-background rounded-lg p-1 flex flex-col gap-1.5 md:max-w-35 grow-1">
        <div>
          {% svgsprite %}
          {% svg "session-termination", "w-5.5 h-5.5 p-1 bg-sii-primary fill-sii-light-background rounded-lg" %}
        </div>
        <p class="max-w-15 text-sii-light-integration-panel-text dark:text-sii-dark-integration-panel-text">Session Termination</p>
      </div>
    </div>
    <div class="h-7 flex bg-sii-primary rounded-lg justify-center items-center gap-1">
      <div>
        {% svgsprite %}
        {% svg "sso", "w-4 h-4 fill-sii-light-background rounded-lg **:text-sii-primary" %}
      </div>
      <p class="text-sii-light-background">Single Sign-On</p>
    </div>
  </div>
</div>
